<div class="col-12 pattern" style="">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">
                {{ pattern.name }}
            </h4>
            <div class="alert alert-warning" role="alert">
                Код:
            </div>
            <pre class="card-text">{{ pattern.source }}</pre>
            <div class="alert alert-success" role="alert">
                Результат:
            </div>
            <pre class="card-text">{{ pattern.result }}</pre>
        </div>
    </div>
</div>
