<div class="row type">
    <div class="col-12">
        <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#collapse_{{ type.id }}"
            aria-expanded="true"
            aria-controls="collapse_{{ type.id }}">
            {{ type.name }}
        </button>
    </div>
</div>
<div class="collapse" id="collapse_{{ type.id }}">
    <div class="row">
        {% for pattern in type.patterns %}
            {% include 'pattern.html.twig' %}
        {% endfor %}
    </div>
</div>
